[2014-12-27 05:20] frewsxcv opened #2 "No license"
As far as I know, this project does not specify which software license it is licensed under.

[2014-12-27 07:35] #2 closed, assigned to nobody

[2015-01-20 20:14] frewsxcv opened #3 "Publish to crates.io"
https://crates.io/search?q=gdal

[2015-01-21 01:17] frewsxcv commented on #3
I pushed this to crates.io https://crates.io/crates/gdal

If anyone wants access, you'll need an account there. Currently the site doesn't support automatic GitHub organization access, so I have to add you individually

/cc @mgax

[2015-01-21 01:17] #3 closed

[2015-01-21 01:18] frewsxcv commented on #3
@mgax I tried to add you, but it looks like you don't have an account there

[2015-01-21 07:38] mgax commented on #3
@frewsxcv I've created an account. Thanks for pushing this.

[2015-01-28 20:24] mgax opened #4 "Borrowed vs. owned geometries"
The [OGR C API](http://www.gdal.org/ogr__api_8h.html) has two ways of accessing geometries:

* take a geometry pointer from a feature using `OGR_F_GetGeometryRef`, and you're not supposed to modify or deallocate it,
* clone the above geometry, or create one from scratch e.g. using `OGR_G_CreateFromWkt`, and you can modify it, and you're responsible for deallocating; you can also pass ownership bac

[2015-01-28 22:21] skj3gg commented on #4
What would be the duplication/harm/opinions in having separate sub-packages? one for native or borrowed.

[2015-01-29 05:56] mgax commented on #4
You mean, having completely separate types, that share nothing? It would be duplicating the implementation of a bunch of methods (exporting to json/wkt/wkb, testing for overlap/containment/intersection, computing buffer/centroid/hull/area/etc), and not allowing the API user to use them interchangeably, even though in OGR they're actually the same type.

[2015-01-29 15:22] sunng87 commented on #4
For now we cannot avoid some package specific types. I think it's OK to keep these types and export them publicly. (Perhaps in a `raw` module?)

We only need to provide To/From traits and impls to convert them into our geo types for integration.

[2015-01-29 15:22] frewsxcv commented on #4
Admittedly I don't know too much about the OGR C API, but this approach sounds the most Rust-like

[2015-05-08 15:03] frewsxcv opened #5 "Make compatible with Rust 1.0"

[2015-05-10 06:47] mgax commented on #5
How is it incompatible?

[2015-05-10 09:50] mgax commented on #5
Right, I've fixed a bunch of errors and warnings, rust-gdal now builds cleanly against the latest nightly.

[2015-05-10 14:38] frewsxcv commented on #5
Awesome, looks good now. Should probably release a new version soon

[2015-05-10 14:38] #5 closed

[2015-06-28 23:49] frewsxcv opened #8 "Break out proj into separate crate"

[2015-07-01 06:55] #8 closed

[2015-07-14 14:40] frewsxcv opened #12 "Generate rust documentation on travis"
Could utilize [travis-cargo](https://github.com/huonw/travis-cargo)

[2015-07-14 14:41] mgax commented on #12
We're already generating documentation and pushing it to gh-pages: http://georust.github.io/rust-gdal

[2015-07-14 14:47] frewsxcv commented on #12
Ah, forgot. Closing in favor of #13.

[2015-07-14 14:57] #12 closed

[2016-01-03 00:50] samlecuyer opened #15 "please publish a new version to crates"
It looks like a few documented features were added after the last release, so I can't use them.
Can you please update the cargo file?

[code]

[2016-01-04 23:07] #15 closed

[2016-05-17 20:28] jdroenner opened #20 "Accessing metadata (GDALMayorObject)"
`GDALMayorObject` is the base class for everything in GDAL: `GDALDataset`, `GDALRasterBand`and `OGRLayer`. Also since GDAL 2.0 the separation between raster and vector datasets was removed. Every dataset is now a `GDALDataset` (`OGRDataSource` is deprecated).

[GDALMayorObject ](http://www.gdal.org/classGDALMajorObject.html) provides methods to access metadata e.g. `GetMetadataItem`. Sadly there i

[2016-05-19 03:02] frewsxcv commented on #20
This sounds great! Would love to see some metadata retrieval implemented for all the types. I can't think of any better ideas at the time for how to structure this, so feel free to open a PR for your changes. If we think of something better, we can always release a new version :)

[2016-05-28 03:10] frewsxcv opened #22 "Bump libc dep to 0.2.x"

[2016-06-30 19:34] jdroenner commented on #22
I just bumped libc to 0.2.13. All tests are still green for me. Can we close this issue?

[2016-06-30 19:41] frewsxcv commented on #22
👍

[2016-06-30 19:41] #22 closed

[2016-12-13 17:20] jdroenner opened #25 "split into gdal-sys and gdal crate"
Split rust-gdal into a gdal-sys and a (rust-) gdal crate.

(I'm currently working on this)

[2016-12-13 20:10] frewsxcv commented on #25
Sounds great! I've been meaning to do this for a while.

[2016-12-14 20:44] jdroenner commented on #25
@frewsxcv should i add the rust-sys repository to georust? ;)

[2016-12-14 21:27] frewsxcv commented on #25
I'd recommend having both `gdal` and `gdal-sys` library crates exist within the same repository. This way, if there are ever updates to `gdal-sys`, `gdal` will get updated to reflect the changes at the same time.

There a couple strategies for doing this:

### `gdal-sys` within `gdal`

[code]

An example: https://github.com/alexcrichton/git2-rs

### `gdal-sys` and `gdal` separate w/ cargo workspac

[2016-12-14 22:15] jdroenner commented on #25
I've been wondering how to do this and the examples are really helpful, thanks! Cargo workspaces look really nice.

[2017-01-01 23:06] jdroenner opened #27 "Replace Option with Result"
Rust-gdal currently handles failing gdal calls by panicking or returning `Option`.

[2017-01-02 12:12] #25 closed

[2017-01-03 11:23] mthh opened #30 "Allow to write ogr data"
I guess it would be nice to be able to write OGR data.

(I started to work on this if it's ok for you ?)

[2017-01-03 18:23] frewsxcv commented on #30
Sounds good to me! cc @jdroenner

[2017-01-03 18:50] jdroenner commented on #30
Sounds great :)

[2017-01-07 09:17] #27 closed

[2017-01-31 19:18] #30 closed

[2017-08-16 07:08] #20 closed

[2017-10-06 18:55] leodasvacas opened #38 "Make a release"
Crates.io version is outdated.

[2017-10-08 14:58] jdroenner commented on #38
I'm working on it.

[2017-10-08 18:24] jdroenner commented on #38
done

[2017-10-08 18:24] #38 closed

[2017-10-28 18:11] warwickm opened #45 "Unit tests frequently fail with a segfault"
Running ``cargo test`` frequently fails with a segfault.

Running the tests using valgrind indicates a read-after-free problem in the last line of ``Geometry::test_spatial_reference`` where it calls ``geom.spatial_reference()``. Valgrind is suggesting that some memory is being read after it has been freed after the previous line.

Commenting out the ``test_spatial_reference`` test makes all the ot

[2017-10-28 20:57] #45 closed

[2018-01-28 16:02] austinstig opened #48 "GdalType as Pulic"
I would like to be able to write a function that loads a raster dataset into an ndarray. For instance:
`fn read_as_array<T: Copy + From<GdalType>, P: AsRef<Path>>(path: P) -> Result<ndarray::Array2<T>> { ... }`

This would internally coerce the GdalType values into their corresponding primitive number type. Unfortunately, GdalType is currently marked private and this is not possible. Would it be p

[2018-01-30 13:26] jdroenner commented on #48
I'm not really sure if we want GdalType to be public. Let me think about the implications :)

[2018-02-01 10:24] jdroenner commented on #48
Since Array2 is the obvious data-structure for raster data, i guess we should add such method directly to rust-gdal. However, we should use a feature "ndarray" to allow disabling.

Do you think this would work for your use-case?

[2018-02-03 16:46] austinstig commented on #48
yes... that would be really great!

[2018-02-03 17:38] jdroenner commented on #48
Great :) If you already have a matching method feel free to create a pull request. Otherwise i will see if i have  time to write something :)

[2018-02-05 10:53] austinstig commented on #48
No problem. I'll work on it.

[2018-02-05 11:45] austinstig commented on #48
Not sure how great it is but I have submitted PR. Thanks!

[2018-02-05 15:56] jdroenner commented on #48
Great! thank you :) I will look at it as soon as possible (when i have some free time).

[2018-02-13 18:37] lnicola opened #50 "Consider using bindgen for gdal-sys"
What the title says. This might make adding the missing APIs easier, but will probably require a large rework of the crate.

Do you think it might be a good idea?

I'm not necessarily volunteering to implement this 😄 .

[2018-02-14 12:05] jdroenner commented on #50
This would be great!
If you succeed in generating bindings with bindgen let me know how you did it ;)

[2018-03-10 08:26] #50 closed

[2018-03-11 18:07] jdroenner opened #57 "replace error-chain with Failure"
Replace the current error handling with Failure

[2018-04-28 00:47] frewsxcv commented on #57
Completed in https://github.com/georust/rust-gdal/pull/58

[2018-04-28 00:47] #57 closed

[2018-05-03 11:52] frewsxcv opened #59 "Switch from 'geo' to 'geo-types'"
https://github.com/georust/rust-geo/pull/201

[2018-05-10 09:13] jdroenner commented on #59
Great work @lnicola :)
I think we should also replace the `ToGeo` trait with `TryInto` (https://github.com/georust/rust-geo/issues/212).
This way we should be able to remove the dependency on the geo crate.

[2018-05-10 10:34] lnicola commented on #59
Something like the new commit, then?

I used `from` instead of `into` in the test because for some reason it wasn't able to deduce the type. `TryFrom` is still unstable, unfortunately.

[2018-05-14 21:15] jdroenner commented on #59
Great :) I guess we can add a TryFrom version when it gets stable again...

[2018-05-14 21:15] #59 closed

[2018-05-26 07:48] lnicola opened #61 "Consider making a new release"
There's been a couple of changes lately: `bindgen` for `gdal-sys`, `failure` support and, to a lesser extent, moving to `geo-types`. It might be worth issuing new releases for these.

[2018-05-27 08:38] jdroenner commented on #61
Will try to do this today. Can we replace the bindgen git dependency with a release?

[2018-05-27 10:03] lnicola commented on #61
Ah, sorry, I forgot about that dependency :-(. Maybe I'll make a PR for it (I'm a bit worried about differences in the generated code).

This can be closed, I guess. Thanks.

[2018-05-27 10:03] #61 closed

[2018-05-27 10:28] lnicola commented on #61
Actually, that might be https://github.com/rust-lang-nursery/rust-bindgen/issues/1265

[2018-07-08 17:50] davebrent opened #62 "Linking error building library with examples"
Hi, Ive run into an issue while using `rust-gdal`, in a library, that contains
examples, that should be built with `cargo build --examples`.

A minimal example of this can be seen with

Cargo.toml
[code]

src/lib.rs
[code]

examples/foo.rs
[code]

Exits with the following output:

[code]

Building the project with plain `cargo build` works as expected.

Ubuntu 16.04.4 LTS
cargo 1.27.0 (1e95190e5 2

[2018-07-08 19:08] jdroenner commented on #62
We will look into this. @lnicola do you have an idea whats wrong?

[2018-07-08 19:21] lnicola commented on #62
Can't reproduce on Arch Linux. Will try on Ubuntu.

I'm not sure how that PPA package works, does it include the library and headers like a `libgdal-dev` package would do? What does `dpkg -l gdal` say?

[2018-07-08 19:41] lnicola commented on #62
I get the same error without `gdal` installed.

Okay, so I tried this:

[code]

The first build probably fails because the build script needs to run again.

[2018-07-08 20:46] davebrent commented on #62
Thank you for looking into it @lnicola , it works for me after installing `libgdal-dev` then running `cargo clean` before building again.

[2018-07-17 13:24] #62 closed

[2018-08-04 18:17] usagi opened #64 ".pbf supporting"
Hi, is it not supported .pbf (.osm.pbf) yet? How can I open and use .pbf if supported.

-----
.pbf examples is here: https://download.geofabrik.de/

[2018-08-08 09:33] pka commented on #64
pbf are supported, if GDAL is built with pbf support. You can open it like any other vector source.

[2018-08-21 18:31] #64 closed

[2019-02-16 19:21] njwilson23 commented on #48
I have another use case that I think would benefit from `GdalType` being public. I'm trying to write a function that, given a sequence of bands, combines them into a dataset.

Since the GDAL data type isn't part of the `RasterBand` type, I think I need to hard-code the band type in the caller. I think the signature might look something like
[code]

Is there an alternative that I should consider?

[2019-02-16 21:10] jdroenner commented on #48
Since the GdalDatatatype in gdal-sys is `pub`, `GdalType `can probably also be `pub`. Do you want to create a pull request?

[2019-02-20 13:32] #48 closed

[2019-06-13 06:48] rmanoka opened #70 "Dataset should be Send"
To the best of our understanding, GDAL supports minimal multi-threading in that it is okay for different threads to access a Dataset as long as only one thread is accessing it at any time (see [GDAL Doc](https://gdal.org/api/raster_c_api.html#_CPPv48GDALOpenPKc10GDALAccess)).

I believe we should implement `Send` trait on `{raster,vector}::Dataset` to allow it to be passed across threads if necess

[2020-06-17 12:38] jdroenner opened #74 "Adapt to GDAL 3"
GDAL 3 introduces large changes. We should decide how to handle them in this crate.

Some (but not all) options are:

1. The easiest way would be to drop support for GDAL < 3.0.
2. Use modules and features as feature gate. This would result in separate modules with methods from gdal 2.4, gdal 3.0, ...

[2020-06-17 12:42] jdroenner opened #76 "Replace "failure" error handling"
Handling gdal crate errors in other crates requires the "failure" crate which is deprecated. We should use a crate / error strategy which does not require additional crates.

[2020-06-17 12:59] pka commented on #74
@jdroenner I would be interested in this discussion. I'm currently on the Discord channel and also available for a voice discussion in german.

[2020-06-21 21:07] pka commented on #74
As discussed I'm fine both with starting a GDAL 2 maintenance branch and concentrate on GDAL 3 and with using feature gates. I think with a few additional methods for GDAL 2 (see review of #75), both versions could be maintained in one branch, which I would prefer, if feasable.

[2020-06-21 21:11] pka commented on #76
My preference would be https://github.com/dtolnay/thiserror, which is used in https://github.com/georust/proj as well. I could also help you with this task

[2020-06-22 09:49] urschrei commented on #76
Just to add that my experience using thiserror in `proj` has been very positive. The only drawback is its dependency on `syn`, which adds to compile times, but it's worth it in my opinion.

[2020-07-07 13:10] lnicola opened #79 "OFTInteger64 is not supported"

[2020-07-21 19:29] rmanoka opened #82 "Provide read_into_slice ability in RasterBand"
The library currently provides a `RasterBand::read_as` function, that allocates a buffer on the heap.  It would be very convenient, if we could re-use the same buffer, and allow functionality to read data into an already allocated slice.  This would save many heap allocations if reading chunks of large rasters in a loop.

A possible implementation would the following addition to `RasterBand` in `s

[2020-08-27 04:42] michaelkirk opened #83 "test failures on macos"
Hi, I'm new to this repository. 👋

I just built from master and am seeing these test failures:
[code]

Travis looks to be passing all the tests, running gdal 2.0.

I'm using gdal 3.1.2 (installed via [homebrew](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/gdal.rb)).

Is it expected for the tests to fail?

[2020-08-28 14:16] rmanoka commented on #83
@michaelkirk I've tested this crate with gdal 2.4.2 and all the tests pass.   I believe the osgeo/gdal changes are triggering your fails.  For instance, I believe, the first two:  offset, scale were probably fixed "upstream" around this commit.

[code]

[2020-08-28 21:29] michaelkirk commented on #83
Indeed it seems to be a difference between gdal 2 vs. 3.

Having a go at this now. Hopefully you'll see a PR from me soon!

[2020-09-25 14:21] #79 closed

[2020-09-28 08:23] ChristianBeilschmidt opened #94 "`actual_block_size` not available for GDAL >= 3"
At #92, there is a change to
[code]

This means the function is gone at GDAL 3.0 or 3.1? I guess this can be fixed easily.

[2020-09-28 09:05] jdroenner commented on #94
fixed in #95

[2020-09-28 09:12] #94 closed

[2020-10-01 07:44] jdroenner commented on #70
will fix this in https://github.com/georust/gdal/pull/99

[2020-10-01 07:44] ChristianBeilschmidt commented on #70
I agree with you, it should be `Send` but not `Sync`. The structs are not `Send` by default because they use pointers, but they are encapsulated to not hurt the constraints I guess.

Maybe it is better to not keep the backreference for `RasterBand` and `Layer` to the `Dataset`.

[2020-10-01 07:44] #74 closed

[2020-10-01 07:45] jdroenner commented on #74
master is now based on GDAL 2.0 (#96)

[2020-10-01 07:47] jdroenner commented on #82
sorry i somehow lost this issue. Please create a PR.

[2020-10-01 07:48] jdroenner commented on #83
is this fixed with the CI changes (#86)?

[2020-10-01 07:55] jdroenner commented on #70
@ChristianBeilschmidt  #98 will remove the references following this approach: https://medium.com/dwelo-r-d/wrapping-unsafe-c-libraries-in-rust-d75aeb283c65

[2020-10-01 07:55] jdroenner commented on #82
i guess this is a part of #84 ?

[2020-10-01 08:44] rmanoka commented on #70
@jdroenner We experimented with `Send` in a fork of this repo, and it works fine for most formats.  However, I'm specifically worried about VRT datasets.  This [link](https://gdal.org/drivers/raster/vrt.html#multi-threading-issues) mentions that GDAL >= 2.3 does the "right thing" with VRT datasets, but before that it was not safe to even send the handle to another thread!   May be we should add th

[2020-10-01 08:46] rmanoka commented on #82
@jdroenner Will provide a separate PR shortly.  It was something we added in a fork, and I was keen on getting it in here.

[2020-10-01 08:57] jdroenner commented on #70
This is a good find. We should really only allow this from 2.4 on. I think versions under GDAL 2.4 are very rare and therefore this should not be a problem for anyone.

[2020-10-01 15:35] #83 closed

[2020-10-01 17:03] #82 closed

[2020-10-02 11:59] #70 closed

[2020-10-15 03:57] geohardtke opened #102 "concurrent read/write support"
Hi,
I was wondering if you had plans to implement concurrent reading/writing for raster datasets. As far as I can understand from the documentation, that should be achieved by using `GDALDatasetHGDALOpenShared(const char*, GDALAccess)` instead of `GDALDatasetHGDALOpen(const char*, GDALAccess) ` . See https://gdal.org/api/raster_c_api.html#_CPPv414GDALOpenSharedPKc10GDALAccess

Thanks in advance.

[2020-10-16 07:10] rmanoka commented on #102
@geohardtke Could you elaborate more on "concurrent r/w" ?  For instance, with multiple threads, `OpenShared` has no effect, and is equivalent to `Open` (as mentioned int he doc link you've mentioned above).  See quoted text below.

Also, in this crate, we allow `Send`ing a dataset handle to another thread, so to my understanding, `OpenShared` is not compatible with our usage.

[2020-10-16 10:51] geohardtke commented on #102
@rmanoka Thank you very much for your answer, I'm glad to hear that what i need is possible in rust, I guess I'm still new to rust and have a lot to learn. I often deal with raster inputs/outputs that are much larger than memory and I'd like to be able to process the inputs blockwise in parallel and write the results to a compressed output raster. I've been doing that using rasterio in python (as

[2020-10-16 11:34] rmanoka commented on #102
@geohardtke The GDAL library doesn't let you read using the same handle from different threads.  You should open the same dataset in each of the threads.  For chunking, I would suggest phrasing your processing logic as a "map-reduce" pattern, and using a library such as rayon.  Please see this [gist](https://gist.github.com/rmanoka/c92f8a8cf50aebf25e751898f811aee1) for a sample.

[2020-10-16 19:05] geohardtke commented on #102
Excellen! Thank you very much for your time @rmanoka !

[2020-10-19 23:08] callmeahab opened #104 "Async functions"
Hi,

Is there a plan to move functions to support async execution, or at least implement thread safe data types, while this crate is good, its really hard to implement functions that require async operations in conjunction with gdal functions.

Thanks

[2020-10-20 08:13] jdroenner commented on #104
Since GDAL does not really support async operations i guess this is out of scope for this crate. The only async feature in GDAL i know of is the `GDALAsyncReader `. It would be great to support this, however as far as i understand the async read calls a blocking read in most drivers.

For thread safe types we can only support what GDAL provides. We added `Send` for datasets since GDAL states they

[2020-10-20 08:15] #76 closed

[2020-10-20 08:36] callmeahab commented on #104
I posted this issue because I was having trouble running a background worker using an actix actor, compiler was complaining about all the types that don't implement Send trait once I tried using Arbiter to create background thread. However it worked when using actix_rt::spawn with an async function. In general for my use performance is secondary, I just wanted to create a background thread so user

[2020-10-21 10:54] #102 closed

[2020-10-26 09:19] lnicola commented on #104
GDAL is a old, but still actively-maintained project. It makes sense to have a nice set of bindings to it, but probably less so to RIIR. If would be impossible to keep up with it, not to mention that the IO drivers themselves (e.g. `libtiff`) are already using synchronous file operations. For Linux, there wasn't even a good async IO file solution until very recently, and GDAL supports dozens of fo

[2020-10-26 09:24] callmeahab commented on #104
Ok, makes sense. Thanks for your assistance.

[2020-10-26 09:24] #104 closed

[2020-10-26 09:29] lnicola commented on #104
If you're doing `actix-web` and still have trouble, I have a small app that serves tiles from a raster, ping me and I can share it.

[2020-10-26 09:35] callmeahab commented on #104
I resolved the original issue, which was how to run background task with an async function which uses gdal. When using actors I got errors that gdal functions don't implement `Send`, however `actix_rt::spawn` works fine.
Do you know if its possible to use rayon with gdal functions?

[2020-10-26 09:50] lnicola commented on #104
I don't think so (`Dataset` is `!Sync`), however the GDAL docs say:

So you would probably need to open the dataset multiple times in order to read in parallel from it.

[2020-10-26 09:59] callmeahab commented on #104
Ok, thanks

[2020-10-28 16:29] michaelkirk opened #110 "crates publishing team"
👋 Hi @jdroenner and @frewsxcv,

Following up on https://github.com/georust/meta/pull/21, I created a new org team with you two as maintainers. Could you please [update the crate owners](https://doc.rust-lang.org/cargo/reference/publishing.html#cargo-owner)? I'm assuming it makes sense to share a single team for these two crates, but feel free to do otherwise.

Specifically:

---

- [ ] @frewsxcv:

[2020-10-28 21:29] mgax commented on #110
Hey @michaelkirk, thanks for organizing the crate owners discussion! I haven't been involved in rust-gdal for quite a while so feel free to remove me from the list of crate owners; it looks like @jdroenner is taking good care of the project :)

[2020-10-28 23:37] michaelkirk commented on #110
Thanks for the response @mgax!

I can't actually edit the crate owners, but I see that @frewsxcv is also a user-owner of the gdal crate, so I've updated the instructions for him, and then expect @jdroenner should be able to update the gdal-sys crate.

[2020-10-29 08:24] jdroenner opened #111 "update changelog and readme.md to reflect recent changes"
There have been major changes to the crate. We should update changelog and readme.md

[2020-10-29 08:24] jdroenner opened #112 "Release 0.7"
We should release a new version soon. However, there are still some things to do:

- [x] #110 change the crate publishing teams
- [x] merge #88
- [x] merge #109
- [x] #111 update changelog and readme.md to reflect recent changes

Is there something missing?

[2020-10-29 08:40] jdroenner commented on #110
i changed the gdal-sys team. Who wants to be a gdal-sys owner? :grinning:

[2020-10-29 16:26] frewsxcv commented on #110
@jdroenner feel free to add me on gdal-sys if you want! otherwise this issue is done. i just took care of the gdal crate

[2020-10-29 16:26] #110 closed

[2020-11-08 11:10] eg-novelt opened #116 "Serde deserialize support"
Hello guys,

Not sure an issue is the best way to ask this, so let me know if it should be somewhere else.

Basically for some context I've been using this library quite a bit and I do want to give something back.  I've made small additions to the API but I think the most interesting part is adding some serde deserialization support.

How it works is I can have an object like this

[code]

And I c

[2020-11-08 17:34] eg-novelt commented on #116
[gdal_struct_deserializer.rs.txt](https://github.com/georust/gdal/files/5506842/gdal_struct_deserializer.rs.txt)

An updated version that doesn't use deserialize_any and supports Option + FID + error handling when types don't fit, note this depends on some extra methods in feature

[code]

[2020-11-10 12:12] frewsxcv opened #117 "Implement std::fmt::Debug for gdal::Geometry"
This will make it easier for users to inspect the contents of the geometry while developing.

[2020-11-26 00:16] devyn opened #122 "Fails to build on arm64 due to wrong pointer type"
Not sure why, but it seems like something in gdal_sys expects a different pointer type for ESRI when compiling for arm64. This is the only error I get:

[code]

I'm going to dig further into this.

[2020-11-26 08:50] #122 closed

[2020-12-02 04:56] manimaul opened #124 "Dataset Later Iteration"
There isn't an API for iterating through a Dataset's layers. This requires a foreknowledge of what layer names are in the Dataset.

[2020-12-02 04:59] manimaul opened #125 "FieldValue Types"
There are some missing types in FieldValue's that one would expect to find such as:

IntegerListValue
Integer64ListValue
StringListValue
RealListValue

[2020-12-15 15:44] #125 closed

[2020-12-19 19:51] #124 closed

[2020-12-19 19:51] #112 closed

[2020-12-19 19:51] #111 closed

[2020-12-28 10:49] jdroenner opened #129 "Switch CI to Github"

[2020-12-30 02:03] dead10ck opened #130 "0.7 docs.rs build failed"
The docs.rs build for 0.7 failed: https://docs.rs/crate/gdal/0.7.0

[2020-12-30 02:58] michaelkirk commented on #130
Hopefully this will be fixed by https://github.com/georust/gdal/pull/128 once the next release is published.

[2020-12-30 03:46] dead10ck commented on #130
Sorry, I'm not really familiar with how docs.rs works, but is there a way to fix the build without waiting for a new release? It looks like there are significant changes in 0.7 and having up to date docs would help. Also the docs published in the link in the README appear to be even older.

[2020-12-30 03:59] michaelkirk commented on #130
docs.rs is based on the published crates, so it won't be updated until the next crate version is released.

In the meanwhile, you can build the docs locally:

[code]

[2020-12-30 04:03] michaelkirk commented on #130
Thanks for pointing this out! I've proposed a fix here: https://github.com/georust/gdal/pull/131

[2020-12-30 10:20] jdroenner commented on #130
Thanks. I will release 0.7.1 to fix this soon.

[2021-01-03 03:33] dead10ck opened #132 "Feature::field should return Result<Option<FieldValue>>"
Currently, [`Feature::field`](https://github.com/georust/gdal/blob/fb85a0cd26b12fa1480321293296212df857fcc1/src/vector/feature.rs#L70) returns `Result<FieldValue>`, but fields can be null. When this is the case, the default value for the `FieldValue` variant is returned. This makes it difficult to distinguish e.g. a legitimate Integer 0 value from the absence of a value.

I am not very familiar wi

[2021-01-03 04:11] tomplex opened #133 "Build fails on MacOS"
Hey all,

I'm pretty new to Rust so please forgive me if there's something simple I'm missing.

I'm trying to run the example in the docs with a shapefile I have locally, but the build fails, suggesting that it can't find GDAL.

Here's the error:
[code]

But I have gdal installed:

[code]

After looking at the error message's environment variable suggestions, I tried setting some variables which l

[2021-01-03 05:18] stuartlynn opened #135 "PostGIS write example"
I was wondering if you had or knew of an example of using these binding to load vector data into a PostGIS database.

Essentially an example like https://github.com/georust/gdal/blob/master/examples/read_write_ogr.rs but instead of converting the GeoJSON to a shapefile, it gets converted to a PostGIS table.

When try this:

`let mut postgis = Dataset::open(Path::new("PG: host=localhost dbname=** u

[2021-01-03 10:56] jdroenner commented on #133
i think you need pkg-config. maybe @michaelkirk can help here?

[2021-01-03 11:44] jdroenner commented on #130
so it turns out the fix is file for gdal-sys but the build script of gdal still fails. i guess we will need something more complex from here: https://github.com/rust-lang/docs.rs/issues/147

[2021-01-03 22:38] tomplex commented on #133
running `brew install pkg-config` allowed the build to proceed. Thanks for your response!

[2021-01-03 22:38] #133 closed

[2021-01-04 17:59] michaelkirk opened #137 "Better error message when missing pkg-config"
From: https://github.com/georust/gdal/issues/133

I can take a look at this since it mostly affects non-linux users.

[2021-01-04 17:59] michaelkirk commented on #133
I've created https://github.com/georust/gdal/issues/137 to track the work I'm going to do for better error messages when missing pkg-config.

[2021-01-04 18:32] jdroenner commented on #137
that would be great. i think it is also not trivial to use the current build script on windows.

[2021-01-05 07:49] #137 closed

[2021-01-05 08:32] jdroenner commented on #130
the docs.rs build is now working :tada:

[2021-01-05 08:32] #130 closed

[2021-01-05 08:37] jdroenner opened #139 "Improve / write docs"
The state of the documentation in this crate is not as it should be. This is a task is also ideal for new contributors. Most of the time the docs of the wrapped gdal-sys method will be enough to derive a methods doc.

[2021-01-05 12:36] spadarian opened #140 "Any way of selecting GDALRIOResampleAlg?"
At the moment, to read a raster into a slice you are using [GDALRasterIO](https://github.com/georust/gdal/blob/1ee19ed1ea3da385dfc1dd47090e5a42b7b3bffc/src/raster/rasterband.rs#L89), which doesn't provide a way to select a resampling algorithm.

If I'm not mistaken, [GDALRasterIOEx](https://github.com/georust/gdal/blob/2fadecc39c84c317ca023cfaf67fd6fbd0c568a5/gdal-sys/prebuilt-bindings/gdal_2.4.rs

[2021-01-05 13:05] jdroenner commented on #140
I guess we should change the `read_as` and `read_into_slice` methods to use GDALRasterIOEx. It would be great if you could provide a PR for this. You could have a look at GdalOpenEx in dataset.rs for an example.

[2021-01-07 05:39] rmanoka opened #143 "Makes GDALAccess enum public"
Should we re-export `GDALAccess` enum from gdal-sys that is imported in [`dataset.rs`](https://github.com/georust/gdal/blob/master/src/dataset.rs#L9) ?  It seems useful as it is needed for the second argument to `Dataset::open_ex` (in order to open file in update/edit mode).  Pls. let me know and I will provide a PR.

[2021-01-07 07:57] jdroenner commented on #143
yes, i guess we should do that

[2021-01-21 15:59] #129 closed

[2021-01-21 16:32] jdroenner opened #150 "Should mutable borrow of RasterBand require mutable borrow of it's Dataset?"
Open Question from #144

[2021-01-21 17:25] rmanoka commented on #150
This is a very interesting question.  I don't have a good answer, but want to highlight a few points to discuss:

- Currently, even `RasterBand::write` needs only a `&self` ref;  in contrast, `Dataset::create_layer`, and `RasterBand::set_color_interpretation` (from #144) do required an `&mut self`.  This feels inconsistent, but I'm not sure which is the right way
- If we were to make `RasterBand`

[2021-01-22 22:54] #132 closed

[2021-01-26 12:01] caiohamamura opened #151 "Cannot compile GDAL in windows - dataset.rs - convert::From<[_; 0] is not implemented"
The compilation is failing to with the following messages:

Compiling gdal v0.7.2
error[E0277]: the trait bound `std::vec::Vec<_>: std::convert::From<[_; 0]>` is not satisfied
  --> C:\Users\caioh\.cargo\registry\src\github.com-1ecc6299db9ec823\gdal-0.7.2\src\dataset.rs:75:21
   |
75 |             None => Vec::from([]),
   |                     ^^^^^^^^^ the trait `std::convert::From<[_; 0]>` is n

[2021-01-26 12:11] caiohamamura commented on #151
Forget it, I solved it by updating rust: `rustup update`

[2021-01-26 12:11] #151 closed

[2021-01-29 23:26] dmarteau opened #154 "Missing Gdal dataset open flags"
The `gdal::open_ex` open_flags allow only value from the `GDALAccess::Type` values.

This prevent using the others `GDAL_OF_XXX` flags combination.

They are preprocessor `#define`  in gdal.h and thus skipped by bindgen; they are still essential to control some opening behaviors like raster/vector driver selection, or multidimensional raster or gnm drivers.

Maybe a crate like [bitflags](https://d

[2021-01-30 10:06] rmanoka commented on #154
The `bitflags` approach is very cool; I'd opened a similar [issue](#143) but this is more comprehensive, so I'm closing it.  There is one issue with the `open_ex` options: `GDAL_OF_SHARED` that needs to be discussed (see below).

## Sharing Issue

GDAL since 2.4 allows `Dataset` to be accessed from different threads, as long as only one thread accesses it at any time (ref. [discussion](https://git

[2021-01-30 10:07] rmanoka commented on #143
Closing in favour of #154 .

[2021-01-30 10:07] #143 closed

[2021-01-30 12:15] jdroenner commented on #154
wow this is a really cool solution. I think @rmanoka is right. we should remove the shared bitfag and add an unsafe method to DatasetOptions to enable this feature.

[2021-01-30 13:56] dmarteau commented on #154
I do agree that `GDAL_OF_SHARED` defeat the purpose of multithreading safety and I'm also in favor te remove it.

[2021-01-30 14:22] dmarteau commented on #154
Amha, this is even not necessary and it would be better to rely on rust safe way of handling shared access to dataset.

[2021-01-30 16:09] jdroenner commented on #154
i guess we can add a special method for shared later ( if we need it)

[2021-01-30 16:09] #154 closed

[2021-01-30 16:10] rmanoka commented on #154
Sounds good; bitflags already has an `unsafe fn from_bits_unchecked` that allows this anyway.

[2021-02-02 20:27] rmanoka commented on #150
The standard library [File] is a example to base our decision on. It is also a wrapper around a handle, and makes system calls for the actual operations. See in particular [File::set_len] which modifies the underlying file structure, but takes `&self`. This fact is also documented:

Thus, we should be in the clear to simply use `&self` in all methods of `Dataset`, `RasterBand`, and `Layer`.

Anoth

[2021-02-04 08:05] jdroenner commented on #150
thanks for looking this up. This is a very good overview and File is a matching example. I guess we should do the read, write separation?

[2021-02-04 09:24] dmarteau opened #159 "Feature reading not reseted between two FeatureIterator instanciation"
Between two calls of  `Layer::features(&self) -> FeatureIterator`, there is no call to `OGR_L_ResetReading`:  the consequence is that features cannot be iterated twice from a Layer and the Layer has to be recreated.

Ex
[code]

As the Layer is not consummed by the iterator and taken from an immutable layer, the internal state should not be changed and it should be possible to get a new iterator  o

[2021-02-04 12:36] rmanoka commented on #159
This is a good catch; I agree we should make the iterator take and store `&mut self`.  Currently we document in `Layer::feature` that it should not be called while iteration, but taking mut ref seems like a cleaner solution.  Do you suggest we reset the reading when the iterator is constructed?

Related to #150

[2021-02-04 15:13] dmarteau commented on #159
Yes, that the first thing that comes to me.

That was my first idea but I'm struggling with Iterator returning object with lifetime from  borrowed field from the mutable reference :-p

Using
[code]
gives:

[code]

So I don't know how to make the compiler happy and  infer the lifetime for the mutable référence. It seems that requires some magic I do not master atm.

The easiest solution would be to

[2021-02-04 16:15] rmanoka commented on #159
It is a bit more complicated to get it working:  we have to store the `&layer.defn`, and the handle `layer.c_layer` instead of the layer itself in the iterator.  I've done this in my fork: https://github.com/rmanoka/gdal/tree/fix/mut-self ; please check it out.

Also added a test that should fail to compile if un-commented (at the end of `vector_tests/mod.rs`).  It verifies that while iterating ov

[2021-02-04 17:14] dmarteau commented on #159
Nice ! No black magic...

If I understand well the layer is borrowed mutably by the iterator because of the inherited lifetime of the  `defn` field ?

[code]

[2021-02-04 17:39] rmanoka commented on #159
Yeah, it is some complicated magic by the compiler.  Apparently, even if we down-grade a mut-ref to a immut-ref, it is still considered as a mut-borrow in the scope where the mut borrow happened.  See for eg. [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=213c1a01a03d4b708d8dd4c70446113a)

[2021-02-04 17:52] rmanoka commented on #159
As per the [nomicon](https://doc.rust-lang.org/nomicon/lifetime-mismatch.html) it is apparently a limitation of the borrow checker.  This [stackoverflow post](https://stackoverflow.com/questions/41190333/why-doesnt-a-mutable-borrow-of-self-change-to-immutable) explains it well.

Interestingly, this "limitation" works out in our favour.  We can also make the mut borrow explicit by adding a `Phantom

[2021-02-04 18:05] dmarteau commented on #159
Interesting indeed...

Incidentally I have found a working way to cheat with lifetime while keeping a rerence to a mutable layer that also make the job, but it uses some unsafe dark magic:

Just for fun:
[code]

[2021-02-04 18:27] rmanoka commented on #159
Nice!  Note that `&'a mut Layer<'a>` is actually restrictive.  It'll prevent you from ever creating two iterators one after the other.  See [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c9f0b2c5acbc150bddbf06cb139c9d0e).  You'll have to use `&'b mut Layer<'a>`.

[2021-02-04 23:26] michaelkirk opened #163 "Delete outdated unused GH Page at https://georust.github.io/gdal"
Probably should have mentioned this as part of #131, but the outdated docs are still hosted at https://georust.github.io/gdal

I don't think we're linking to them any more, but there's no reason that I can think of to keep around the outdated GH hosted docs.

I think to remove them go here:
https://github.com/georust/gdal/settings

<img width="480" alt="Screen Shot 2021-02-04 at 3 24 33 PM" src="h

[2021-02-22 19:25] frewsxcv opened #165 "Run tests with ASan to debug spurious failure"
Background: https://github.com/georust/gdal/pull/164#issuecomment-783607743

We should try turning on the address sanitizer (ASan) in CI to see if anything helpful surfaces: https://doc.rust-lang.org/beta/unstable-book/compiler-flags/sanitizer.html

[2021-02-23 07:31] jdroenner commented on #165
this is a good idea. how would we add it to CI?

[2021-02-23 07:32] lnicola commented on #165
[code]

[2021-02-23 07:41] lnicola commented on #165
Looks like we have two `_register_drivers` functions.

[2021-02-23 07:47] lnicola commented on #165
Last time I tried, using ASAN from Rust was pretty painful, so maybe we can punt on this until the next intermittent failure.

[2021-02-23 15:45] frewsxcv commented on #165
Opened a draft PR with ASan support if anyone is curious what the changes would be like: https://github.com/georust/gdal/pull/167

[2021-02-23 18:10] lnicola opened #168 "RFC: handle getters (`c_dataset` and friends) should be safe"
The Rust convention is to place `unsafe` at the usage site, e.g. `as_ptr` is safe, but dereferencing the pointer is not. We should follow the same convention.

[2021-02-23 18:17] lnicola opened #169 "RFC: drop datetime feature (or drop `FieldValue`)"
I think we should drop the feature and eat the extra dependency.

`chrono` builds in about 3 seconds and having different code paths can be annoying (see https://github.com/georust/gdal/pull/164/commits/37657367902b3e53359b48aed97c220bfddb12b2 for a recent example, where `clippy` failed because of an apparently infallible function returning `Result`).

[2021-03-02 17:31] lnicola commented on #169
One more argument for this: feature-gating an enum value can make dependent crates stop building if the feature gets pulled in by another crate. I gave an example in https://github.com/georust/wkt/issues/50#issuecomment-789078596.

[2021-03-02 19:49] lnicola opened #170 "Warp API"
Unless I'm missing something (and I might be, TBH), we're missing the Warp API, (see https://gdal.org/tutorials/warp_tut.html).

[2021-03-03 17:37] lnicola commented on #169
On the other hand, we could try to do this "the right way" and define a set of conversion traits. This way we could get rid of the enum and still be able to make the `chrono` dependency optional.

[2021-04-06 09:30] WHULMQ opened #179 "The package cannot be compiling"
I try to compiling the package today.But there are some errors as:

error: failed to run custom build command for `gdal-sys v0.3.1`

Caused by:
  process didn't exit successfully: `D:\VScode\rust\read_tif\target\debug\build\gdal-sys-21e0a3b3239f1c3a\build-script-build` (exit code: 101)
  --- stdout
  cargo:rerun-if-env-changed=GDAL_STATIC
  cargo:rerun-if-env-changed=GDAL_DYNAMIC
  cargo:rerun-if-

[2021-04-06 10:30] lnicola commented on #179
Did you try to download GDAL and set those environment variables (at least `GDAL_HOME` and/or `GDAL_INCLUDE_DIR` and `GDAL_LIB_DIR`)? Windows binaries are a bit hard to find, but https://www.gisinternals.com/release.php should be fine. Make sure to download the one that matches your C compiler.

[2021-04-06 13:14] WHULMQ commented on #179
How can I set those environment variables?
I did not download GDAL. I just add ' gdal = "0.7.2" ' in Cargo.toml .

Cargo.toml:
[dependencies]
gdal = "0.7.2"

[2021-04-06 13:17] lnicola commented on #179
You need to either compile or install/download a GDAL version compiled with MinGW (it might be easier to install VS Community, switch to the `stable-msvc` Rust toolchain, then download a MSVC GDAL), then you can set the environment variables like:

[code]

or similar.

[2021-04-13 15:24] ktmattson-alion commented on #179
After we upgraded to the latest from 0.6, we found that $env:GDAL_VERSION **must** be set or the gdal-sys build script will just quit (Windows)

[2021-04-18 17:23] dmarteau opened #180 "Clippy check fail on gdal-sys for pull-request"
Pull requests checks are failing because of clippy issues with gdal-sys

* see https://github.com/georust/gdal/pull/178/checks?check_run_id=2268527230
* see https://github.com/georust/gdal/pull/174/checks?check_run_id=2375034635

[2021-04-19 08:08] jdroenner commented on #180
yes this can happen when clippy adds new lints. I will fix it.

[2021-04-25 10:07] #180 closed

[2021-04-25 10:21] jdroenner commented on #179
it would be great if we could add a solution to the readme

[2021-04-25 11:21] #150 closed

[2021-04-25 11:21] #159 closed

[2021-04-25 11:50] #140 closed

[2021-05-05 11:37] ttencate opened #185 "Missing support for layer creation options"
I need to pass `OVERWRITE=YES` in case the target layer already exists, so passing `null_mut()` as the last argument to `OGR_DS_CreateLayer` is counterproductive for me.

I propose to merge `create_layer` and `create_layer_blank` into a single function, `create_layer`, which takes a new `struct LayerOptions` that implements `Default`. This is consistent with how `Dataset::open_ex` works with `Data

[2021-05-05 14:15] jdroenner commented on #185
sounds like a good idea

[2021-05-07 06:56] #185 closed

[2021-05-26 16:56] ktmattson-alion opened #188 "Can ResampleAlg be exported?"
`RasterBand::read_as(..)` and the rest take `Option<ResampleAlg>`. But that enum is public-but-not-exported, so the only choice to the user is `None`.

Is this by design? I noticed that the tests use `crate::raster::rasterband::ResampleAlg;` so perhaps the re-export from `mod raster` was overlooked.

Thanks for your time.

[2021-05-26 17:04] lnicola commented on #188
I can't check right now, but it sounds like an oversight. Do you want to submit a PR?

[2021-05-26 17:35] ktmattson-alion commented on #188
I can -- but off the clock ;)

[2021-06-10 05:54] geohardtke opened #190 "Create options not supported"
Hi all,

I didn't find a way to set creation options for new raster datasets. In a local copy of the repo I implemented it like this:

[code]

and I use it like:

[code]
And it seems to do what I want. I'm not sure if the implantation is safe/correct since I'm still new to rust. If you are interested I can create a PR for this (or improved with some guidance)?

[2021-06-10 06:23] lnicola commented on #190
Yeah, that looks reasonable for a start, so a PR would be great.

[2021-06-10 08:09] lnicola opened #191 "vector: setting feature fields by index"
Currently, the `set_field_XXX` methods get a field name, but it might be nice to avoid the lookup and provide the field directly, or its index.

[2021-06-13 22:22] geohardtke commented on #190
Test in #193 are passing now. Didn't know that the dataset had to be `dropped` before the metadata could be read.

[2021-06-22 06:13] #188 closed

[2021-06-22 09:38] geohardtke commented on #190
closed. See #193.

[2021-06-22 09:38] #190 closed

[2021-07-09 05:22] nmandery opened #196 "Implementing `TryFrom` instead of `From` for conversion to `geo_types::Geometry<_>`"
The current implementation uses the `From` trait but [panics on encountering unsupported geometry types](https://github.com/georust/gdal/blob/6605e62ddee7a1b9d00ec2c02b732e38f29763a9/src/vector/gdal_to_geo.rs#L79). As the `geo_types` crate does not yet offer corresponding types to [all the types gdal supports](https://gdal.org/doxygen/ogr__core_8h.html#a800236a0d460ef66e687b7b65610f12a), it is not

[2021-07-22 12:28] #196 closed

[2021-08-03 14:35] jdroenner opened #204 "add valgrind on tests in ci and fix all the leaks"
run valgrind with:

CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUNNER="valgrind --num-callers=100 --track-origins=yes --leak-check=full --time-stamp=yes" cargo test

current report is attached
[rustgdal_valgrind.txt](https://github.com/georust/gdal/files/6924869/rustgdal_valgrind.txt)

[2021-08-04 20:16] michaelkirk opened #207 "repo cleanup - remove unused 'github-pages' environment"
Visible from the repo front page:
<img width="369" alt="Screen Shot 2021-08-04 at 1 13 10 PM" src="https://user-images.githubusercontent.com/217057/128248420-5537bca6-6738-4433-893c-80c6efdbfebd.png">

It seems like a vestige leftover from when we generated our own docs, rather than using docs.rs, and the url currently 404s.

I'm pretty sure we can just delete it, but wanted to double check in cas

[2021-08-05 07:32] jdroenner commented on #207
yes we should remove it

[2021-08-05 15:48] michaelkirk commented on #207
done!

[2021-08-05 15:48] #207 closed

[2021-08-05 18:25] ChristianBeilschmidt commented on #169
For me, time is essential to geoprocessing, so I don't see the point in having this feature-gated.

And if we keep it, I guess you are right in working on the enum value.

[2021-08-06 09:46] spadarian opened #210 "Read-only Dataset?"
Do you think it could be possible to implement a read-only version of `Dataset`?

I'm asking because `Dataset` is `!Sync` due to a mutable pointer... but maybe it is possible to read from that pointer concurrently?

Actuallym I have no idea if it's possible... :smile:

[2021-08-06 09:50] lnicola commented on #210
It's not, you need to open it twice:

([source](https://trac.osgeo.org/gdal/wiki/FAQMiscellaneous#IstheGDALlibrarythread-safe))

The reason for that is that most libraries aren't thread-safe -- they have a single context for the whole dataset and/or they use the file cursor position when reading.

[2021-08-06 11:24] spadarian commented on #210
I see... Thanks @lnicola

[2021-08-06 11:24] #210 closed

[2021-09-14 20:37] michaelkirk opened #217 "repo maintenance: remove old webhooks"
Any reason not to delete these old webhooks?

<img width="786" alt="Screen Shot 2021-09-14 at 1 35 10 PM" src="https://user-images.githubusercontent.com/217057/133330050-f6b9721e-a253-4635-aadd-d50c4e4b5604.png">

The realartists one seems to be dead (but I guess it was some discontinued external GH client), and we no longer use travis-ci either.

[2021-09-16 03:50] rmanoka commented on #168
I would be a bit more confident with changing the `pub(crate)` ones to begin with.

[2021-09-18 10:13] pka opened #219 "Test failures on Windows"
When running tests in CI on Windows (#218) a few tests fail:

[code]

Comments from @rmanoka:

1. `raster::tests::test_create_with_band_type_with_options` :  we're trying to create `/tmp/test.tif` which is not valid path in windows.  Should use a proper `env::temp_dir` for platform compat.
2. `vector::vector_tests::tests::test_write_features` : seems to be from `fs::remove_file` when the dataset i

[2021-10-10 09:17] lnicola opened #222 "De-dup `CslStringList` and `TextOptions`"
CC @ChristianBeilschmidt and @msalib maybe one of you wants to take this.

[2021-10-18 20:21] ChristianBeilschmidt commented on #204
In my opinion, it is good to run Valgrind since we deal with lots of unsafe code here. This would also prevent you from doing these kinds of clean-ups every now and then.

[2021-10-18 20:37] ChristianBeilschmidt opened #227 "`&str` or `&Path` for file paths"
We currently use either `&str` (e.g. https://github.com/georust/gdal/blob/08e77b59e96c6723e19532a906d814b21736c3ae/src/driver.rs#L87-L89) for referencing paths or `&Path` (e.g. https://github.com/georust/gdal/blob/08e77b59e96c6723e19532a906d814b21736c3ae/src/dataset.rs#L171-L173) for referencing paths in our codebase.

I vote for using `&Path` consistently and changing this in a (breaking change)

[2021-10-18 20:42] msalib opened #228 "docs.rs should include `array` feature"
It would be nice if we enabled at least the `array` feature for docs.rs by adding this to `Cargo.toml`:
[code]
Perhaps adding `datetime` to that list would be good as well.

The goal here is that someone looking at docs.rs should know that the array methods actually exist because otherwise, they're very easy to miss.

[2021-10-19 05:02] ChristianBeilschmidt commented on #228
I really like the idea and I also think we should add these `cfg_attr`s at the same time.

Maybe we can save some time in the realization if we decide on this first: https://github.com/georust/gdal/issues/169
But nevertheless, it should be a manageable effort.

[2021-10-19 08:09] jdroenner commented on #169
if i get it right the issue is with localtime and time removed that in 0.3. I guess we will never need local time and should be able to use time instead.

[2021-10-19 08:49] #169 closed

[2021-10-20 16:28] ChristianBeilschmidt commented on #204
I saw that ASAN was already discussed here: https://github.com/georust/gdal/issues/165

I guess it is nicer than valgrind for our use case, but comes with the nightly issue. From my experience, we would have to fix a nightly because it will definitely crash for some nightlies. In our Geo Engine project, we have a CI task that updates the nightly version from time to time :shrug:.

Why is `trybuild

[2021-11-08 08:15] ChristianBeilschmidt commented on #227
Can be closed due to #230.

[2021-11-08 08:15] #227 closed

[2021-11-18 05:52] geohardtke opened #232 "Multidimensional Raster Data Model not yet supported."
GDAL introduced the `Multidimensional Raster Data Model` upstream in version 3.1, and we don't have support for it in this crate.

I explored the API recently and wrote a few wrappers (See linked [PR](https://github.com/georust/gdal/pull/233) ). It is still very rough, but it could be a useful starting point for a  discussion in case there is some interest in supporting this.

So, please review th

[2021-12-03 23:03] #217 closed

[2022-01-01 22:00] DmitriLebedevArammeem opened #235 "GPKG layer with dash causes an error"
This code works but prints an SQLite error that it can't delete trigger rtreee_<layer_name> because of syntax error at "-" -- the name of the trigger is unquoted, and dash is a minus sign.

In GDAL this error has been [fixed](https://trac.osgeo.org/gdal/ticket/5472) years ago, and my version is much newer (3.2) than then (2.0). What's going on and is it possible to fix this?

	use std::path::Path;

[2022-01-02 15:22] lnicola commented on #235
I tried, but I couldn't reproduce it with a simplified version of the code:

[code]

In any case, it sounds like a GDAL and/or SQLite issue. Can you test in a Docker container like `osgeo/gdal:ubuntu-full-3.2.0`?

[2022-01-12 04:59] spadarian opened #240 "docs.rs failing to compile dependent crate"
Hello everyone. I hope you are having a good start to the year.

I'm having problems compiling the docs for my crate ([map-engine](https://crates.io/crates/map-engine)) probably because docs.rs' build system doesn't have GDAL installed.

I saw that you guys have a custom [build script](https://github.com/georust/gdal/blob/master/gdal-sys/build.rs#L65) that mentions a similar (?) problem. I was hop

[2022-01-12 08:11] lnicola commented on #240
Looks like we're taking [this](https://github.com/georust/gdal/blob/v0.11.0/build.rs#L8) branch in the `gdal` (not `gdal-sys`) build script.

[2022-01-12 08:14] lnicola commented on #240
@spadarian can you add

[code]

to your manifest?

[2022-01-12 10:48] spadarian commented on #240
I will give that a try tomorrow.

Is there a way of checking if that works locally? I guess I can use their docker container...

Just to confirm... not `rustc-args = ["--cfg", "docsrs"]` like you have in [your Cargo.toml](https://github.com/georust/gdal/blob/master/Cargo.toml#L40)?

[2022-01-12 10:57] rmanoka commented on #240
I also have the same problem in [`rasters`](https://github.com/AspecScire/rasters.rs/blob/master/Cargo.toml) crate.  I have included the `[package.metadata.docs.rs]` section, but the build still errors out.

The previous version of the crate (which used gdal 0.7.2) did build successfully: https://docs.rs/crate/rasters/0.6.2 .  Upgrading to latest, broke docs.

[2022-01-12 12:58] rmanoka commented on #240
I seem to have added `rustc-args = [...]`, which worked in previous versions of the `rasters` crate (that uses gdal 0.7.2).
However, I tried locally (as explained using [docs.rs github](https://github.com/rust-lang/docs.rs#getting-started)) using `rustdoc-args = [...]` and it still fails.

Intersetingly, even the previous version that did build successfully on docs.rs now fails when tried locally.

[2022-01-13 22:16] spadarian commented on #240
Apparently, the guys from docs.rs have reported a bug in cargo, which is still blocked on https://github.com/rust-lang/cargo/issues/10206

[2022-01-14 08:04] GISerliang opened #242 "gdal3.4 mismatched types"
[code]

[2022-01-14 08:05] lnicola commented on #242
Are you using `bindgen`? Which version of GDAL are you on?

[2022-01-14 08:06] GISerliang commented on #242
Yes, I used `bindgen`.
GDAL version was 3.4.0

[2022-01-14 10:35] GISerliang commented on #242
Clang only support 3.9? now I installed Clang 12.0.0

[2022-01-17 05:11] jackyarndley opened #243 "Setup to use on windows"
Hi, thanks for the library and bindings.

I've been trying to get this to work on windows. Problems arise whilst linking to the GDAL libraries:

- I've tried using [GIS Internals](https://gisinternals.com/release.php) to download windows builds, and then set the `GDAL_HOME` (etc) environment variables to the values in this. After fixing a few errors, I am left with an error saying ENTRY_POINT_NOT_

[2022-01-17 08:17] pka commented on #243
The Windows CI build https://github.com/georust/gdal/pull/218/files should work with current master branch.

[2022-01-17 20:23] jackyarndley commented on #243
Thanks. I had tried that previously but did so again and eventually discovered that an old QGIS installation took precedence, and provided different gdal libraries. Once this was removed it worked straight away.

Thanks for your help.

[2022-01-17 20:23] #243 closed

[2022-01-27 09:47] ChristianBeilschmidt commented on #165
We should definitely run our CI with a leak check so that we don't need manually overseeing all potential `VSIFree`s and `GDALAttributeRelease`s.

Why don't we just fix a nightly for that and quarterly update the nightly?

[2022-01-27 09:50] ttencate opened #247 "docs.rs build failing for 0.12.0"
Build log: https://docs.rs/crate/gdal/0.12.0/builds/494924

[code]

[2022-01-27 09:53] lnicola commented on #247
Duplicate of https://github.com/georust/gdal/issues/240

[2022-01-27 10:07] ttencate commented on #247
Hmm OK, I will close this if that is the case. I thought #240 was only about docs for dependent crates failing to build, not for the gdal crate itself.

[2022-01-27 10:07] #247 closed

[2022-01-27 10:35] lnicola commented on #247
Yeah, I think it's the same root cause -- the `gdal` build script trying to call `GDALVersionInfo` because it doesn't realize it's running on docs.rs.

[2022-01-27 10:49] ttencate opened #248 "Layer::spatial_ref should return Option<SpatialRef>, not Result<SpatialRef>"
It wraps `OGR_L_SpatialRef`, whose [documentation](https://gdal.org/doxygen/classOGRLayer.html#a75c06b4993f8eb76b569f37365cd19ab) says:

So NULL is not indicative of an error here.

(Note that layers without an SRS are entirely valid in some drivers, for example CSV.)

[2022-02-01 12:51] ttencate opened #252 "Replace `OGRwkbGeometryType::Type` (a.k.a. c_uint) by `enum GeometryType`"
Previously discussed on #250. The question was how extensible it should be, which I've briefly looked into.

1. It looks like the last addition happened [six years ago](https://github.com/OSGeo/gdal/blame/efee158e3eb4676f8d0cc09c12514d13b967dd87/gdal/ogr/ogr_core.h#L345-L445) so it's definitely not changing frequently.
2. The `gdal_sys` crate needs updating with every new release anyway due to the

[2022-02-02 05:28] ChristianBeilschmidt commented on #252
I'm in favor of wrapping these constants with enums.

* `#[non_exhaustive]` isn't worse than fiddling with these numbers.
* You are right that new version-bindings could only lead to new values. However, we would need some mechanism to catch new versions. Last time, it took us some while for new bindings. Moreover, can we have a mechanism that checks for all values being covered?
* I guess we can

[2022-02-02 06:53] lnicola commented on #252
I honestly don't know what would be the best solution here, but I want to understand why you want this change.

 - is it because it's annoying to import `gdal-sys` and type those `OGRwkb` prefixes?
 - is it so matching on the geometry gets a little nicer?
 - or because an enum would be more strongly-typed, so you can't pass a wrong value by mistake?
 - or maybe something else?

[2022-02-02 07:07] ttencate commented on #252
All of the above. Plus the ability to implement useful traits like `Debug` and `Display` on the type (which would have made #250 more idiomatic).

[2022-02-02 07:15] lnicola commented on #252
What if we wrapped them in structs defined `gdal`? Something like:

[code]

[2022-02-02 07:18] ttencate commented on #252
In what way is that better than an `enum` though? If it's purely to allow unknown values through, we can also do that with an `enum`.

[2022-02-02 07:23] lnicola commented on #252
You're right, it's not much better than an enum with an `Unknown(u32)` variant. I guess it would avoid some mapping code from the enum to integers and back.

[2022-02-02 16:17] metasim opened #253 "How do you write an `Array2` to a `Dataset`/`RasterBand`?"
I'm using `read_as_array` to get the `ndarray` form of the raster data, due to its convenience. After manipulation, how do I write that data into a new RasterBand, minimizing copies?

[2022-02-03 10:59] jdroenner commented on #253
To be honest i never tried that. I guess you need to get the slice from an OwnedArray and use that.

[2022-02-03 12:51] rmanoka commented on #253
Somethine like this should work:

[code]

It writes the block of dim `(xsize X ysize)` to a window `(0, y)  <-> (xsize X y + ysize)`.
It does involve moving from nd-array -> vec.  So if you need to keep the array, you'll have to convert back to the nd-array.  It involves moving about one pointer word but doesn't move the data.

[2022-02-05 15:26] ttencate opened #255 "Misleading panic in gdal-sys build script"
This looks dodgy:

https://github.com/georust/gdal/blob/0747fa6d05f993a878e792ba98770027fb99cf1d/gdal-sys/build.rs#L131-L136

I suppose the panic text should say windows-msvc instead of windows-gnu, but for all I know it might be the other way around, which would mean the condition and subsequent comment are wrong.

[2022-02-08 13:50] metasim commented on #253
Fantastic! Thanks for the help!

[2022-02-08 13:50] #253 closed

[2022-02-10 18:16] metasim opened #256 "Dynamic handling of cell types"
I'm wondering if there are examples or tips to share on implementing operations where the cell type for read and write operations is dynamically determined at runtime.  For example, let's say I have a program that adds two rasters together and writes the result. If the input rasters are `u8`, I'd like the output to be `u8`, if `u16`, then `u16`, etc.

Because the cell type is a type parameter to `

[2022-02-10 18:19] lnicola commented on #256
You should be able to check the data type, `match` on it, then use `read_as` with the expected type parameter on each of the `match` arms. It's a bit ugly, but even if you use the `C` API you have to pick between converting to a wider type and typing a bit of code.

[2022-02-10 18:28] metasim commented on #256
I assume this is because the returned `Buffer<T>` has an underlying size, and being generic on read/write only pushes the ball a little down the field?

I started going down this path, not realizing `GdalType` doesn't reference `self` until the end. 😆

[code]

I think I'll dig into some of the C-based gdal tools and see how they approach this problem. Thanks for the response!

[2022-02-10 18:36] jdroenner commented on #256
yes, You should check the type and then match on it. You can write your implementation with generics and then call it in the match block with the right type. However, you need to keep the buffer in an enum or do the processing in a typed function.

We do something similar in Geo Engine. We already know that type we expect to load.  Then we load the right type and push it through the Engine. https:

[2022-02-10 19:31] metasim commented on #256
Awesome help! Thanks so much! 🥇

Have you considered enabling Discussions on this repo? I'm sure I'm not the first to ask some of these questions...

[2022-02-10 19:31] #256 closed

[2022-03-02 19:21] ktmattson-alion opened #259 "Use of no_data_value()"
This function returns f64, not T, so it's not simple to compare it for validity.

In fairness, it's a double from the gdal API and since they seem to test almost exclusively in Python it's not a problem for them to assert no_data == 0 or whatever.

Would it be a good idea to expose `getMaskBand` instead? Or is there an intended flow for this function?

[2022-03-07 04:34] geohardtke opened #261 "current version of the linter doesn't allow `map(..).flatten()` to be called on an `Option`"
Hi there,

As the tile says, the current version of the linter doesn't allow `map(..).flatten()` to be called on an `Option`. This currently breaks the CI and any new PR will fail. See for example (https://github.com/georust/gdal/runs/5443188765?check_suite_focus=true)

The solution suggested by the compiler seems to work all the tests still pass. This [PR](https://github.com/georust/gdal/pull/262

[2022-03-07 04:55] geohardtke commented on #261
unfortunately two tests (unrelated?) are now failing.
[code]

will see if I can fix them

[2022-03-08 02:04] geohardtke commented on #261
not accurate description of the problem and messy solution in the PR. Will open new issue and PR. Sorry for the noise

[2022-03-08 02:04] #261 closed

[2022-04-12 05:26] lnicola opened #266 "Consider enabling CI for PRs"
I think we should enable CI for incoming pull requests. From previous discussions, the main concern was the possibility that a PR was doing something malicious. I think that's not much of an issue because pull requests don't have access to any of the secrets stored in the main repository:

This is safer than giving commit rights to more people and asking them to push their branch to the main repo.

[2022-04-18 01:06] metasim opened #268 "docs.rs build is failing for 0.12.0"
<img width="500" alt="image" src="https://user-images.githubusercontent.com/131013/163739362-b174651f-b3da-40b3-a504-592b52bcc3fa.png">

Looks like some sort of linker error:

[code]

Build log:

https://docs.rs/crate/gdal/0.12.0/builds/494924

[2022-04-18 20:31] metasim opened #269 "`Geometry::get_point_vec()` returns empty `Vec`"
I'm unable to access get the points of any GDAL `Geometry` instance I create. The following will fail at the last test:

[code]

[2022-04-18 20:34] metasim commented on #269
An even simpler test case:

[code]

[2022-04-18 20:40] metasim commented on #269
Interestingly, running `test_geom_accessors` passes, but pasting the above code into the same file and running it still fails.

https://github.com/georust/gdal/blob/492e0c8e3f14c26e0e3442e42a04c97c14ff627a/src/vector/vector_tests/mod.rs#L485-L509

[2022-04-18 20:53] metasim commented on #269
Would love to know if I'm doing something wrong, or if there's a workaround (e.g. call methods in certain order).

[2022-04-18 20:56] metasim commented on #139
@jdroenner By this:

are you suggesting (as a contribution) the gdal doxygen docs be copied over into the rust code?

[2022-04-18 21:08] metasim commented on #268
Perhaps `DOCS_RS` is no longer defined? 🤷

https://github.com/georust/gdal/blob/492e0c8e3f14c26e0e3442e42a04c97c14ff627a/gdal-sys/build.rs#L63-L66

[2022-04-18 21:17] lnicola commented on #269
The unit test uses a line string. Polygons don't contain points, but rings, so you need to go through those. I can't give an example right now.

[2022-04-18 22:34] metasim commented on #139
I just rebuilt the documentation with `bindgen` version `0.59.2`, and it seems a lot more documentation is getting injected than what's in docs.rs:

<img width="616" alt="image" src="https://user-images.githubusercontent.com/131013/163887963-8ca9c946-ce7b-495a-9822-48dd4fd0b7f9.png">
<img width="990" alt="image" src="https://user-images.githubusercontent.com/131013/163887875-c36d2b23-27ab-4d94-95e

[2022-04-18 22:52] metasim commented on #269
I don't see any methods to get rings. Only points.

I took a look at the implementation of `impl TryFrom<Geometry> for geo_types::Geometry<f64>` and saw that it uses the unsafe `get_unowned_geometry` method to dig down into the lower structures. I can get what I want with the following call:

[code]

However, this doesn't really seem like the best user-facing method.

I'd like to submit a PR for s

[2022-04-19 05:11] lnicola commented on #269
I don't think it makes sense to return points from all the rings together. I think the first ring is the exterior of the polygon, while the others are "holes".

We should try match the GDAL API:

[code]

Notice how:

 - `GetPoints` is fallible
 - you can get a reference to an owned geometry using `GetGeometryRef`
 - our API isn't really idiomatic, hence the unsafe `get_unowned_geometry` and the `d

[2022-04-19 10:48] vinayakkulkarni commented on #64
An example would be great @pka

[2022-04-19 11:13] lnicola commented on #64
@vinayakkulkarni see https://github.com/georust/gdal/blob/master/examples/read_write_ogr.rs, if you haven't.

[2022-04-19 14:14] lnicola commented on #139
I remember a `bindgen` "feature" causing comments to be included in the generated bindings or not based on the location of the GDAL headers.

[2022-04-20 05:34] rmanoka commented on #268
related to #240 ?

[2022-04-20 05:37] rmanoka commented on #269
Also, see `geo_to_gdal.rs` and `gdal_to_geo.rs`.  Those two files were an awesome reference to accessing inner structures using our bindings.

[2022-04-20 05:39] rmanoka commented on #240
The cargo issue above seems to be fixed now;  should it work now?

[2022-04-20 06:30] spadarian commented on #240
I tried locally and it still fails...

[2022-04-20 07:30] jdroenner commented on #240
i think we had that issue before...  Then it was caused by docs.rs but it might be something different this time

[2022-04-24 15:18] metasim commented on #269
What is the definition of "(un)owned" in `get_unowned_geometry`? Is a geometry "owned" when:

a. The lifecycle is managed by Rust; if the binding leaves scope, then `Drop` is invoked.  Or...
b. The lifecycle is managed by gdal; if the binding leaves scope, we assume gdal will deallocate when appropriate.

My real question is how to think about returning a reference to something that is logically b

[2022-04-24 20:24] metasim commented on #269
To further refine my questions, I'm interpreting this:

https://github.com/georust/gdal/blob/8cb6e9253457ecbf29922214036cee78fc574232/src/vector/geometry.rs#L306-L308

and this:

To mean the naïve implementation such as this will eventually break:

[code]

With that assumption, I've given up on figuring out how to return `Result<&Geometry>` and am taking the approach of using a wrapper type.

The

[2022-04-28 19:36] metasim commented on #269
@lnicola @rmanoka Wondering if either of you have advice to share on the appropriate route to take with the above. I think the `GeometryRef` approach is working.

[2022-04-28 19:47] lnicola commented on #269
Sorry, I've been less around lately. It's not really clear to me why the original approach didn't work. `GeometryRef` might work -- it takes the lifetime of `self`, right?

[2022-04-29 13:56] metasim commented on #269
Well, sorry to bother you!. I'm excited this project exists at all, and want to help out when I run into friction. That said, I'm still struggling to understand lifetimes when FFI is concerned, and may require more hand-holding than you're able to provide. IOW, helping out may be above my current Rust skillset.

Yes.

[2022-04-29 15:42] pka commented on #269
Reading Polygon points like this should work:
[code]

[2022-05-02 15:38] metasim commented on #269
@pka Thanks, I've seen that code. I'm actually want the whole `Geomtery` type, not just the points.

[2022-05-02 15:38] metasim opened #270 "Should Dataset have a lifetime parameter?"
I'm wondering if `Dataset` should have a lifetime parameters so that other  pointers associated with `Dataset` can be tied to the lifetime of the pointer/handle:

[code]

Clarification: I'm trying to wrap `Dataset` in another struct, abstracting some higher-level functions over `Dataset`. However, I want to be able to return references (or owned versions) of types managed by `Dataset`, such as `La

[2022-05-02 15:57] #270 closed

[2022-05-18 13:41] ChristianBeilschmidt commented on #259
You have the problem for 64-bit integers. For this, you could wrap the two specialized methods:

Moreover, I would also welcome exposing the `getMaskBand` method, since it is there and we just cannot use it yet. But It serves another purpose.

[2022-05-19 15:42] ChristianBeilschmidt commented on #232
@jdroenner merged #273 so we can close this here as we have initial support.

[2022-05-19 15:42] #232 closed

[2022-05-20 13:12] pka commented on #219
Current state:

[code]

and
[code]

[2022-05-23 06:38] pka commented on #219
cc @geohardtke @ChristianBeilschmidt

[2022-05-23 10:42] ChristianBeilschmidt commented on #219
If all mdarray functions fail, maybe the GDAL version is too old and the compile guards don't work? :thinking:

[2022-05-23 15:27] pka commented on #219
GDAL version is 3.4.3

[2022-05-27 16:57] metasim opened #275 "Provide ability to delete `no_data` value."
### Issue

There's no way to delete a `no_data` value in a `RasterBand`.

### Commentary

Symmetry in the read vs. write is confusing. i.e. you can determine if there's no `no_data` value thanks to the return type `Option<f64>`:

https://github.com/georust/gdal/blob/fb6e260d46409cb5842c7c2f4978bb5d7bb2ebb0/src/raster/rasterband.rs#L389

But the write method only accepts `f64`:

https://github.com/

[2022-05-27 16:58] metasim commented on #275
This would be an easy PR to fix, but advice from the maintainers on the desired approach would be a prerequisite.

[2022-05-30 17:31] metasim opened #276 "Exposing `gdal_to_geo`"
Is there any reason why `gdal_to_geo` can't be made public? Either through the `vector` module, or through some other "utils" module?

https://github.com/georust/gdal/blob/fb6e260d46409cb5842c7c2f4978bb5d7bb2ebb0/src/vector/mod.rs#L21

[2022-06-14 16:08] #269 closed

[2022-06-21 01:47] rmanoka commented on #240
The cargo issue is fixed but docs.rs may also need to fix things (ref. https://github.com/rust-lang/docs.rs/issues/1580 , https://github.com/rust-lang/docs.rs/issues/1591).

[2022-07-16 16:56] kylebarron opened #280 "Support for RFC 86: Column-oriented read API for vector layers"
GDAL 3.6 added support for a column-oriented API in [RFC 86](https://gdal.org/development/rfc/rfc86_column_oriented_api.html). This is a feature request to add an API for this in the Rust bindings.

For higher-level bindings to GDAL, such as from Python, this API is a big performance improvement as it moves the row-to-columnar conversion loop into C. I don't know how Rust-C bindings work well enou

[2022-07-21 19:36] pka commented on #240
Builds are still failing (https://docs.rs/crate/geozero/0.9.5-beta1/builds/597082)

[2022-07-23 16:33] rmanoka commented on #240
I noticed this fix in `proc-macro2` crate that has a similar problem.  Would it work for us?
https://github.com/dtolnay/proc-macro2/pull/310/files

[2022-07-24 04:42] spadarian commented on #240
It wouldn't work. The compiler would try to compile both branches of the if statement, failing to find `gdal_sys::GDALVersionInfo`.

[2022-07-27 15:48] ktmattson-alion opened #282 "Does gdal build with static linkage?"
I'm afraid all my ignorance is on display here, but anyway:

If $GDAL_HOME and $GDAL_STATIC are set, `gdal-sys` will happily compile. Yay!

But, when `gdal` runs its build script and calls `gdal_sys::GDALVersionInfo(c_key.as_ptr());` it goes and looks to gdalxxx.dll

Similarly, however `gdal-sys` was compiled the FFI calls in `gdal` are resolved to the gdal dll.

Is this expected? Linking has ever

[2022-07-27 16:32] ktmattson-alion commented on #282
After some more research, it seems like gdal_i.lib is not a true static lib, but links itself to the gdal DLL.

[2022-07-29 14:42] #282 closed

[2022-08-22 21:23] metasim opened #288 "Plans to publish 0.13.0?"
Would love to see the latest batch of PRs released to crates.io. What help might be needed to make that happen?

---

Dependencies:

- [x] https://github.com/georust/gdal/pull/279
- [x] https://github.com/georust/gdal/pull/281
- [x] https://github.com/georust/gdal/pull/284
- [x] https://github.com/georust/gdal/pull/285
- [x] https://github.com/georust/gdal/pull/289
- [x] https://github.com/georust

[2022-08-23 09:55] jdroenner commented on #288
i guess we should merge

#279
#281
#284

and

#285

then i can create a new release. I guess it is possible to do that this week.

[2022-08-24 13:46] ChristianBeilschmidt opened #290 "MDArray: Different read type compared to array type leads to ASAN issues"
From https://github.com/georust/gdal/pull/284:

@lnicola:

Maybe we can also make sure that the read type aligns with the actual requested and returned type.
However, we should keep in mind that we can get strings and complex types as return values.

[2022-08-25 08:56] ChristianBeilschmidt commented on #288
Can https://github.com/georust/gdal/pull/289 and https://github.com/georust/gdal/pull/291 maybe be part of it as well?

[2022-09-01 22:20] metasim commented on #288
@jdroenner Do we want to hold back the release for #289 and #291 to get merged, or do we prefer a "release now and soon after" approach?

[2022-09-02 04:09] lnicola commented on #288
I think it would make sense to merge them (I'll take another look at them in the next few days), but also fix #290.

[2022-09-02 13:04] jdroenner commented on #288
all the PRs i wanted to see in the release are merged now. I will prepare a new release now :)

[2022-09-02 13:08] lnicola commented on #288
What about #290?

[2022-09-02 13:12] lnicola commented on #288
I might have a quick fix for it, if you want to wait.

[2022-09-02 13:18] jdroenner commented on #288
yes i can wait

[2022-09-02 13:33] lnicola opened #298 "Crash in `mdarray::tests::test_attributes`"
[code]

(line numbers might be slightly inaccurate because I have some local changes, all commented out)

[2022-09-02 13:36] lnicola opened #299 "Stack overflow in `programs::raster::mdimtranslate::tests::test_build_tiff_from_path`"
[code]

Might be caused by opening the same file twice, just like in https://github.com/georust/gdal/pull/284#issuecomment-1224573599.

[2022-09-02 14:21] #290 closed

[2022-09-02 15:53] ChristianBeilschmidt commented on #299
Is this still an issue after https://github.com/georust/gdal/pull/302?

[2022-09-02 15:53] ChristianBeilschmidt commented on #298
Is this still an issue after https://github.com/georust/gdal/pull/302?

[2022-09-02 15:58] lnicola commented on #298
Yes:

[code]

604c41fbf62b96d0b44a14606b6f83b37db8059e

[2022-09-02 15:59] lnicola commented on #299
No, fixed in #302

[2022-09-02 16:18] lnicola commented on #299
Nah, still happens :cry:

[2022-09-02 18:27] metasim commented on #268
Closed by #281

[2022-09-02 22:38] #268 closed

[2022-09-02 22:40] metasim commented on #288
@here Thanks to everyone for making this release happen! I very much appreciate it, as I assume others will! 🥇

[2022-09-02 22:40] #288 closed

[2022-09-02 23:03] metasim commented on #259
Note: `open_mask_band` and friends are implemented in #285, and released in [0.13.0](https://github.com/georust/gdal/releases/tag/v0.13.0).

[2022-09-02 23:52] metasim commented on #170
Looks like we kinda [have a start](https://github.com/georust/gdal/blob/master/src/raster/warp.rs)...

[2022-09-03 05:23] #298 closed

[2022-09-03 06:05] rmanoka commented on #240
@spadarian @pka can you check your gdal-dependent crates and verify the docs do build?  I checked [rasters.rs](https://github.com/AspecScire/rasters.rs) locally and it builds;  it doesn't even seem to need the `rustc-args` configuration anymore.

[2022-09-03 17:37] #276 closed

[2022-09-04 09:03] thomas001 opened #306 "Provide an API to create a Geometry object from an owned OGRGeometryH"
Currently not all of the C Geometry API is wrapped, so users will need to go to `gdal-sys` and raw unsafe C calls from time to time. This is fine, wrapping all of GDAL is a huge undertaking. So right now I have code like this:

[code]

As you can see creating a `Geometry` back from the raw C pointer is cumbersome and it leaks memory since `v` doesn't own the C geometry. I am asking for a function

[2022-09-04 20:00] pka commented on #240
docs.rs build for geozero is working again, thanks!

[2022-09-04 20:07] metasim commented on #306
@thomas001 Is `OGR_G_MakeValid` just one of many calls you're wanting to make, or would the more convenient approach be to add something like `Geometry::make_valid` instead?

In the future, I wonder if we would we regret letting an internal hack leak out (to never be put back in the box), and wish we'd just go ahead and implement the desired functionality? Not sure what the scope is of what you ne

[2022-09-05 07:23] thomas001 commented on #306
@metasim Okay here is my brain dump on this topic, sorry if it is a bit unstructured.

There are a few functions that I missed, `MakeValid` is one of them, but also some set operation (`Union`, `Difference`, ...) or things like `Polygonize` seem to be not wrapped.

Yes, implementing the missing functions would be one way to go forward here (for a simple case like `MakeValid` I could also send a PR

[2022-09-06 18:26] #228 closed, assigned to metasim

[2022-09-06 19:35] michaelkirk commented on #266
This seems to be done - closing.

[2022-09-06 19:35] #266 closed

[2022-09-08 16:55] rmanoka commented on #240
Great!  Closing this as completed.

[2022-09-08 16:55] #240 closed

[2022-09-12 19:37] #275 closed

[2022-09-21 15:58] metasim opened #312 "Crash in `...::test_features_aliasing_compile_fail` on MacOS M1"
This is on `master` (0.13.0).

This crash doesn't appear to happen in CI, but locally I can't run tests without it happening.

Run with `cargo test vector -- test_features_aliasing_compile_fail`

## Versions

    ❯ rustc -V
    rustc 1.62.1 (e092d0b6b 2022-07-16)

    ❯ cargo -V
    cargo 1.62.1 (a748cf5a3 2022-06-08)

    ❯ gdalinfo --version
    GDAL 3.5.1, released 2022/06/30

[code]

## Backtr

[2022-09-21 16:06] lnicola commented on #312
Can you compile the code it's testing? Easiest is probably to turn it into an example.

This isn't the first time trybuild is causing us problems, and I've also seen it fail when testing locally one of your PRs (I forgot why).

[2022-09-23 19:57] metasim commented on #312
I'm not familiar enough with what's going on here to know what you mean... I'm guessing you mean something other than `cargo test`?

[2022-09-23 20:00] lnicola commented on #312
Yeah, copy the file in https://github.com/georust/gdal/tree/master/tests/compile-tests to `examples`, then try to build it with `cargo check --example 01-features-aliasing-errors.rs`. It's supposed to fail with the error in https://github.com/georust/gdal/blob/master/tests/compile-tests/01-features-aliasing-errors.stderr, but if the compiler output ever changes, the test starts failing.

[2022-09-28 12:06] bayuemu opened #313 "gdal_sys::GDALAutoCreateWarpedVRT : ERROR"
system: fedora 36 (Xfce)
gdal: GDAL 3.3.0, released 2021/04/26
proj: Rel. 8.1.0, July 1st, 2021
geos: GEOS 3.11.0

code:
----------
let src_wkt = src_spatial.to_wkt().unwrap();
         println!("src_wkt {}",src_wkt.as_str());
          let   pszSrcWKT = CString::new(src_wkt.as_str()).unwrap().as_ptr();
          let   dist_spatial = SpatialRef::from_epsg(4326).unwrap();
          dist_spatial.set

[2022-10-04 13:39] metasim commented on #313
@bayuemu Are you able to provide the contents of `dataset`, or at least `gdalinfo` on it?
Even better would be a test case we can actually run.

[2022-10-04 13:43] lnicola commented on #313
[code]

Don't do this, it's a use-after-free. The compiler actually issues a warning here:

[code]

[2022-10-06 01:44] metasim opened #315 "Release `0.13.1` or `0.14.0`?"
Primarily, I think it would be nice to replace the sparse public entry points below...

<table>
<tr><td>
<img width="400" alt="image" src="https://user-images.githubusercontent.com/131013/194194880-6a636245-69e4-45ce-8ba2-ba9c56898f33.png"></td><td>
<img width="400" alt="image" src="https://user-images.githubusercontent.com/131013/194195048-63a2c477-2c64-4b92-8735-658f7bc15bdc.png"></td></tr>
</ta

[2022-10-06 15:09] kylebarron commented on #280
Adding references to other implementations:

- https://github.com/geopandas/pyogrio/pull/155
- https://github.com/Toblerity/Fiona/pull/1121

[2022-10-17 16:10] metasim commented on #315
@jdroenner polite bump? 😃

[2022-10-18 14:23] metasim commented on #299
@rouault Do you have any insight into what might be going on here?

[2022-10-18 14:24] metasim commented on #299
I'm still having issues with it. See #320.

[2022-10-26 14:41] jdroenner commented on #315
sooooo how about a new release this week? :see_no_evil:
Are there open PRs we want to merge first?

[2022-10-26 14:42] lnicola commented on #315
https://github.com/georust/gdal/pull/318/files maybe?

[2022-10-26 15:00] metasim commented on #315
That would be nice, but I wouldn't hold back the release if major changes are required.

[2022-10-27 12:48] metasim commented on #312
@lnicola :

Transcript:

[code]

[code]

Seems to be the same.. 🤔 I'll dig further.

[2022-10-27 12:53] lnicola commented on #312
Ah, I missed this. Are your saying that `cargo test vector -- test_features_aliasing_compile_fail` actually fails reliably?

[2022-10-27 13:01] lnicola commented on #312
Could it be a whitespace difference like tabs vs. spaces, or related to the EOLs? You could try updating to a newer version.

[2022-10-27 16:35] metasim commented on #312
Yep... Test never passes on my local machine. I'll do a manual diff next.

<details>
<pre>

test tests/compile-tests/01-features-aliasing-errors.rs ... mismatch

EXPECTED:
┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈
error[E0502]: cannot borrow `layer` as immutable because it is also borrowed as mutable
  --> $DIR/01-features-aliasing-errors.rs:10:17
   |
9  |     for _ in layer.fe

[2022-10-27 16:38] metasim commented on #312
This is mostly just annoying. To get around it I just run with `TRYBUILD=overwrite` and move on. Not sure I understand what is being achieved with this test anyway.

[2022-10-27 16:40] lnicola commented on #312
Yeah, I had problems un more exotic cases, like running the tests under gdb. Can you update trybuild, if it's not already picking up the latest version?

I'm (still) if favour of removing the whole thing.

[2022-10-27 16:52] lnicola commented on #312
This is very far-fetched, but can you try one more thing? You're using IntelliJ, right? Try to close your IDE, run cargo clean, and then cargo test.

[2022-10-27 18:23] metasim commented on #312
Hah! I was almost convince you were right off the bat!... however... 😞

<details>
<pre>
❯ cargo clean && cargo test
...
test tests/compile-tests/01-features-aliasing-errors.rs ... error
Expected test case to fail to compile, but it succeeded.

test vector::vector_tests::tests::test_features_aliasing_compile_fail ... FAILED

failures:

---- vector::vector_tests::tests::test_features_aliasing_compil

[2022-10-31 13:01] #312 closed

[2022-11-08 16:59] phayes opened #331 "Getting `ERROR 6: Cannot extended in-memory file whose ownership was not transferred` when calling `get_vsi_mem_file_bytes_owned`"
Whenever I call `get_vsi_mem_file_bytes_owned` the operation appears to succeed with no error, however `ERROR 6: Cannot extended in-memory file whose ownership was not transferred` is always written to stdout.

However, this appears to work and has the same effect with printing the error message to stdout:

[code]

[2022-11-11 07:55] #315 closed

[2022-11-11 13:19] ChristianBeilschmidt opened #333 "`gdal::raster::rasterband::RasterBand::band_type` still returns a `GDALDataType::Type`"
There seemed to be a change of replacing the `GDALDataType` with a crate enum `GdalDataType`.
However, the `RasterBand` still returns the `u32`: https://github.com/georust/gdal/blob/3eefd647a9d9fdd6d8a11d914f68657800c6fc9f/src/raster/rasterband.rs#L479

Was is intended or forgotten?

[2022-11-11 17:35] metasim commented on #333
@ChristianBeilschmidt Forgotten 😞 Thanks for catching this. :)

[2022-11-11 22:05] phayes commented on #280
@kylebarron, do you know if this column-oriented API is available for in GDAL for all formats, or just for column-oriented formats?

[2022-11-11 22:09] kylebarron commented on #280
It's available for all formats. From [this part of the RFC](https://gdal.org/development/rfc/rfc86_column_oriented_api.html#impacted-drivers)

- For Arrow and Parquet it's virtually zero cost
- For FlatGeoBuf and GeoPackage there's a specialized implementation that's faster than going through the normal `OGRFeature` abstraction
- For other formats, OGR does the `row -> columnar` transpose automati

[2022-11-14 21:51] metasim opened #335 "`chrono` 0.4.23 deprecations"
A number of `chrono` APIs have been deprecated:

https://github.com/chronotope/chrono/releases/tag/v0.4.23

CI builds on new PRs fail with the following:

[code]

Source: https://github.com/georust/gdal/actions/runs/3457206110/jobs/5770481700

[2022-11-16 19:27] metasim opened #337 "`geo_types` deprecations"
CI on PR now fails due to new deprecations in `geo_types`.

Example: https://github.com/georust/gdal/actions/runs/3482434047/jobs/5824751579

[2022-11-20 18:28] #335 closed

[2022-11-29 14:32] weiznich opened #346 "Disable default features for `chrono`"
Would it be possible to disable the default features for the chrono dependency? This otherwise pulls in the long deprecated 0.1 version of the `time` crate.

https://github.com/georust/gdal/blob/029b95af44096d34b1ce3dbb80fe43698b16ef70/Cargo.toml#L24

[2022-11-29 20:36] #333 closed